{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <script src="{% static '/js/scripts.js' %}"></script>
        <link href="{% static '/css/styles2.css' %}" rel="stylesheet"/>
        <!--    Font de pixel                                                                           -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    </head>

    <body>
        <div id="topBlock"></div>
        <div id="topBlockW"></div>
        <div id="topBlockTwo"></div>
        <div id="topBlockTwoW"></div>
        <img class='paragraph' src="{% static '/img/test.png' %}"/>
        <img class="gato" src="{% static '/img/placeholder.jpg' %}" width="240" height="240"/>
        <form id='formContainer' method='post'>
            {% csrf_token %}
            {% for preg in preguntas %}
            <div class='preguntasRespuestas' id = 'pregunta_{{ forloop.counter }}' hidden>
                <h2 class='containerPregunta'>{{ preg.enunciado }}</h2>
                <ul>
                    {% for respuesta in preg.respuesta_set.all %}
                    <div class='containerRespuesta'>
                        <li class='containerRespuestaTexto'>
                            <label class='radios'>{{ respuesta.resp }}<input type='radio' name="respuesta:{{ respuesta.preg.id }}"></label>
                        </li>
                    </div>
                    {% endfor %}
                </ul>
                <button class='button' type='button' onclick='cambiarPregunta()'>Estoy seguro de mi respuesta.</button>
            </div>
            {% endfor %}
            <button id='comenzar' type='button' onclick='comenzarQuiz()'>Comenzar con el estudio</button>
        </form>
    </body>
</html>