{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <img src="{% static '/img/gatoplaceholder.jpg' %}" width="240" height="240"/>
    </head>

    <body>
        <div id = "Preguntas">
            <!-- *////////////////////////////////////////////////////////////////////////////////////* -->
            <!--                                                                                        -->
            <!--    Por cada pregunta (preg) en la lista de 'preguntas' hace un <form> que imprime en   -->
            <!--    pantalla cada pregunta y las cuatro respuestas de cada una. El jugador selecciona   -->
            <!--    una y presiona 'Terminar' para confirmar la elección.                               -->
            <!--                                                                                        -->
            <!--    Pese a que salen todas las preguntas de una, se pueden esconder el resto en CSS     -->
            <!--    para que aparezcan de una en una.                                                   -->

            {% for preg in preguntas %}
                <form id="Pregunta_{{ preg_id }}" method="post">
                    
            <!--    La verdad no sé qué hace este token, pero evita un error. Integrenlo en <form>s     -->
                {% csrf_token %}
                <h2>{{ preg.enunciado }}</h2>

            <!--    Escribe las respuestas una a una de la pregunta                                     -->
                    {% for respuesta in preg.respuesta_set.all %}
                        <label> {{ respuesta.resp }} 
                            <input type="radio" name="preg_{{ preg_id }}" value="{{ respuesta.id }}"> 
                        </label><br>
                    {% endfor %}

            <!--    Termina el <form> al presionar el boton de submit 'Terminar'                        -->
                <input type="submit" value="Terminar">
                </form>  
            {% endfor %}

            <!--                                                                                        -->
            <!-- *////////////////////////////////////////////////////////////////////////////////////* -->
        </div>
    </body>
</html>