{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <script src="{% static '/js/scripts.js' %}"></script>
        <link href="{% static '/css/styles2.css' %}" rel="stylesheet"/>
        <!--    Font de pixel                                                                           -->
        <link href="{% static 'fonts/Munro-2LYe.ttf' %}" rel="stylesheet" media="screen">
    </head>

    <body>
    <div id="generalContainer">
        <div id="transiciones">
            <div id="cuboTransicion1"></div>
            <div id="cuboTransicion2"></div>
        </div>
        <div id="backgroundStuff" hidden>
            <div class="shape"></div>
            <img id="gato" src="{% static '/img/gatoanim.gif' %}"/>
        </div>
        <div id="kahoot">
            <form id='formContainer' method='post'>
                {% csrf_token %}
                {% for preg in preguntas %}
                    <div class='preguntasRespuestas' id='pregunta_{{ forloop.counter }}' hidden>
                        <div class='containerPregunta'>
                            <h2 class="numPregunta"> Pregunta {{ forloop.counter }}</h2>
                            <h3 class="laPregunta">{{ preg.enunciado }}</h3>
                        </div>
                        <ul>
                            {% for respuesta in preg.respuesta_set.all %}
                            <div class='containerRespuesta'>
                                <li class='containerRespuestaTexto'>
                                    <label class='radios'>{{ respuesta.resp }}<input type='radio' name="respuesta:{{ respuesta.preg.id }}"></label>
                                </li>
                            </div>
                            {% endfor %}
                        </ul>
                        <button class="button" type='button' onclick='cambiarPregunta()'>Hmm... ¡Es esta!</button>
                    </div>
                {% endfor %}
                <button id='comenzar' type='button' onclick='cambiarPregunta()'>Comenzar con el estudio</button>
            </form>
        </div>
    </div>
    </body>
</html>