{% extends "index.html" %}
{% block content %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Iniciar Sesión</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href={% static 'css/style.css' %}>
    </head>
    <body class = "login_body">
        <div class = "content_login">
            <h1 id = "text_login">Inicia Sesión</h1>
            <form action="" method="POST" class="login_form">
                {% csrf_token %}
                <div class="login_form">
                    <label class = "login_form">Ingresa tu email </label>
                    <input class = "login_form" type = "email" id = "email" name = "email"/>
                </div>
                <div class="form-login">
                    <label class = "login_form">Ingresa tu nombre de usuario </label>
                    <input class = "login_form" type = "text" id = "username" name = "username"/>
                </div>
                <div class="form-login">
                    <label class = "login_form"> Ingresa tu contraseña </label>
                    <input class = "login_form" type = "password" id = "password" name = "password"/>
                </div>
                <div id = "message_POST"> {{message_POST}}</div>
                <button id = "button_send_info"> Enviar </button>
            </form>
        </div>

        <script src="" async defer></script>
    </body>
</html>
{% endblock %}