{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Menú</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href={% static 'css/style_menu.css' %}>
    </head>
    <body>
        <div id = "text_menu">Menu de GatoApp</div>
        <div class = "container_menu"> 
            <div class = "container_label1">
                <a  href = "/gatoapp" id = "guest_play"> Jugar como Invitado </a>
            </div>
            <div class = "container_label1">
                <a  href = "/login" id = "login"> Iniciar Sesión </a>
            </div>
            <div class = "container_label2">
                <a  href = "/login/register" id = "register"> Registrate </a>
            </div>
            <div  class = "container_label2" >
                <a href = "/"  id = "learn"> Aprende </a>
            </div>
        </div>
        <script src="" async defer></script>
    </body>
</html>