{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Menú</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href={% static 'css/style_menu.css' %}>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="oneToOneContainer-div">
        <div id = "containerMenu-div" > 
            <div class = "containerLabel-div">
                <a  href = "/gatoapp" id = "guest_play"> Jugar como Invitado </a>
            </div>
            <div class = "containerLabel-div">
                <a  href = "/login" id = "login"> Iniciar Sesión </a>
            </div>
            <div class = "containerLabel-div">
                <a  href = "/login/register" id = "register"> Registrate </a>
            </div>
        </div>
    </div>
        <script src="" async defer></script>
    </body>
</html>