{% extends 'index.html' %}

{% block content %}
{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Registrarse</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href={% static 'css/style.css' %} rel="stylesheet" />
    </head>
    <body>
        <div class = "content_register">
            <h1 id = "text_registration">Registrate</h1>
            <form action="" method="POST" class="form-register">
                {% csrf_token %}
                <div class="form-register">
                    <label>Ingresa tu email: </label>
                    <input type = "email" id = "email" name = "email"/>
                </div>
                <div class="form-register">
                    <label>Ingresa tu nombre de usuario: </label>
                    <input type = "text" id = "username" name = "username"/>
                </div>
                <div class="form-register">
                    <label>Ingresa tu contraseña: </label>
                    <input type = "password" id = "password" name = "password"/>
                </div>
                <div class="form-register">
                    <label>Reingresa tu contraseña: </label>
                    <input type = "password" id = "password_auth" name = "password_auth"/>
                </div>
                <div id = "message_POST"> {{message_POST}}</div>
                <button id = "button_send_info"> Enviar </button>
            </form>
        </div>
        <script src="" async defer></script>
    </body>
</html>
{% endblock %}