html,body {margin: 0;}


* {
  font-size: 30px;
  font-family: 'Pixelify Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: inherit;
  display: block;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  align-content: center;
  align-items: center;
  background-color: black;
}

#containerMenu-div {
  position: absolute;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#oneToOneContainer-div {
    position: relative;

    height: 100vh;
    width: 100vh;
    margin: auto;

    background-color: #201e21;
}

.containerLabel-div {
  position: relative;

  height: 75px;
  width: 350px;
  line-height: 75px;

  transition: transform 0.1s steps(2, end) 0s !important;

  margin: 50px;
  padding: 20px;

  text-align: center;

  border: 7px solid #fcfcf3;
  background-color: #fcfcf3;
}

.containerLabel-div:hover {
  transform: translateY(-14%);

  color: #fcfcf3;
  border: 7px solid #fcfcf3;
  background-color: #201e21;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}