html,body {margin: 0;}

body.login_body {
  background-image: url("../img/fondo_paisaje.jfif");
}

body.register_body {
  background-image: url("../img/bk_verde.jpg");
}

body {
  background-repeat: no-repeat;
  background-size: 110%;
}



/* REGISTER STYLES */

div.content_register {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 390px;
  height: 200px;
  margin-left: -195px;
  margin-top: -100px;
}

#text_registration {
  margin-left: 97.5px;
}

form.register_form {
  display: table;
}

div.register_form {
  display: table-row;
}

label.register_form,
input.register_form {
  display: table-cell;
  margin-bottom: 10px;
}

label,#text_registration {
  padding-right: 10px;
  padding-left: 10px;
}

div.message_POST {
  margin-left: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

#button_send_info {
  margin-left: 9.5px;
}




/* LOGIN STYLES */

div.content_login {
  position: absolute;
  background-color: khaki;
  top: 50%;
  left: 50%;
  height: 350px;
  width: 350px;
  margin-left: -175px;
  margin-top: -175px;
  border-radius: 50%;
}

#text_login {
  margin-left: 90px;
  margin-bottom: -30px;
  padding-top: 25px;
}

form.login_form {
  margin-top: 15%;
  margin-left: 60px;
}


input.login_form {
  padding-right: 60px;
}

input.login_form, label.login_form {
  margin: 3.5px;
}

#button_send_info {
  margin: 5px;
}